body {
    font-family: "Lato", sans-serif;
}
table {
    border:1;
    border-collapse: collapse;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: pink;
  stroke-width: 1px;
}
